html {
  height: 100vh;
}

body {
  background: rgba(0, 0, 0, 0.5);
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: Roboto, 'Varela Round', sans-serif;
  margin: 0px;
  color: rgba(255, 255, 255, 0.7);
}

video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  opacity: 0.5
}

canvas {
  height: 100vh;
  position: fixed;
  top: 0px;
  z-index: 1;
}

.main {
  background: rgba(255, 255, 255, 0.7);
  border-radius: 50px;
  padding: 2%;
  margin: 10% 25%;
  text-align: center;
  opacity: 1;
  box-shadow: 0.3px 0.3px 0px #000;
}

.cursor {
  margin-left: -9px;
  font-size: 20px;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}

.icons {
  background: rgba(255, 255, 255, 0.7);
  border-radius: 50px;
  padding: 2%;
  margin: 3% 10%;
  text-align: center;
  box-shadow: 0.3px 0.3px 1px #000;
  transition: background-color 1s ease-in-out;
  -webkit-transition: background-color 1s ease-in-out;
  -moz-transition: background-color 1s ease-in-out;
  -o-transition: background-color 1s ease-in-out;
}

.icons:hover {
  background: rgba(0, 0, 0, 0.5)
}

.footer {
  display: flex;
  justify-content: center;
  width: 100%;
  position: fixed;
  bottom: 3%
}

.link {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.9);
}

strong {
  font-size: 20px;
}

a {
  text-decoration: none;;
  margin: 0 10px;
  color: rgba(0, 0, 0, 0.9); 
  z-index: 2;
  position: relative;
  font-size: 30px;
  transition: color 1s ease-in-out;
  -webkit-transition: color 1s ease-in-out;
  -moz-transition: color 1s ease-in-out;
  -o-transition: color 1s ease-in-out; 
}

a:hover {
  color: rgba(255, 255, 255, 0.9); 
}

span {
  font-size: 15px;
  margin: 20px 0;
  color: rgba(0, 0, 0, 0.6);
  justify-content: center;
}

img {
  width: 75px;
  height: 125px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0);
}


/* Mobile first queries */


/* Larger than mobile */
@media (min-width: 400px) {
}

/* Larger than phablet */
@media (min-width: 550px) {
  .main {
    margin: 10% 30%;
  }
}


/* Larger than tablet */
@media (min-width: 750px) {
  .cursor {
    font-size: 25px;
  }

  strong {
    font-size: 2rem;
  }

  span {
    font-size: 1.2rem
  }

  img {
    width: 150px;
    height: 200px;
  }
}

/* Larger than desktop */
@media (min-width: 1000px) {
  .main {
    margin: 10% 35%;
  }

  strong {
    font-size: 2rem;
  }
}

/* Larger than Desktop HD */
@media (min-width: 1250px) {
  .main {
    margin: 7% 35%;
    padding: 1%;
  }

  .icons {
    margin: 4% 20%;
  }

  strong {
    font-size: 2rem;
  }

  img {
    width: 150px;
    height: 200px;
  }
}

/* ipad/ipad pro */
@media (min-height: 1300px) {
  .main {
    margin: 20% 25%
  }
}

/* ULTRABOOK */
@media (min-width: 1250px ) {
  @media(max-height: 800px) {
    .main {
      margin: 4% 30%
    }
  }
}


/* Larger than Desktop FullHD */
@media (min-width: 1500px) {
  .main {
    margin: 5% 35%;
    padding: 1%;
  }

  .icons {
    margin: 8% 20%;
    padding: 1%;
  }

  a {
    font-size: 40px;
  }
}

/* Largest */
@media (min-width: 1800px) {
}


@keyframes blink {
  0% {opacity: 1;}
  50% {opacity: 0;}
  100% {opacity: 1;}
}

@-webkit-keyframes blink {
  0% {opacity: 1;}
  50% {opacity: 0;}
  100% {opacity: 1;}
}

@-moz-keyframes blink {
  0% {opacity: 1;}
  50% {opacity: 0;}
  100% {opacity: 1;}
}